.pokecard{
    border: 2px solid black;
    width: 250px;
    height: 270px;
    /* padding: 15px; */
    margin: 10px;
    box-shadow: 0px 0px 20px rgb(63, 233, 106);
    border-radius: 5px;
}

.pitchure{
    width: 100PX;
    border-radius: 5px;
    
    /* width: 10rem; */
}